/* Fonts */
*{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    background-color: #DDDDDD;

    padding: 0; margin: 0; 
}
h1{
    font-weight: 600;
    font-size: 40px;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 20px;
}
section{
    padding: 1rem;
}
/* Color Guide */

.rd{
    color: #FF0000 ;
}
.wht {
    color: #DDDDDD;
}
.bl{
    color: #141E61;
}
.blk{
    color: #171717;
}


.container {
    max-width: 1080px;
    margin: auto;
    padding: 2rem;
}

.heading {
    text-align: center;
    padding-bottom: 1rem;

}

.round_wrapper {
    text-align: center;
}

.choice_wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.choice_wrapper h3 {
    margin: 0;
    text-align: center;
}

.game_prompt {
    text-align: center;
    padding-top: 20px;
}

.choice_icon {
    width: 150px;
    height: 150px;
    transition: all 0.3s;
    padding-top: 10px;
    border: 1px solid #141E61;
}
.choice_icon:active{
    border: 1px solid #171717;
}
.choice_icon:hover{
    border: 1px solid #FF0000;
}

/* @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  } */
.output_icon{
    width: 150px;
    height: 150px;
    transition: all 0.3s;
    /* animation: fadeIn 3s; */
}
.output {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.output .icon {
    width: 150px;
    height: 150px;
}

.player_choice,
.comp_choice {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game_over{
    pointer-events: none;
    opacity: 0.3;
    transition: all 0.5s;
}
.result{
    text-align: center;
    padding-top: 20px;
}
.result_prompt{
    color: #FF0000;
}
.reset_prompt{
    color: #FF0000;
    text-decoration: underline;
    transition: all 0.5s;
}
.score_wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.comp_wrapper, .player_wrapper{
    font-size: 18px;
}
#reload:hover{
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 30px;
    }
    .container {
        margin-right: 1rem;
        margin-left: 1rem;
        padding: 0;
    }
    .choice_icon {
        width: 60px;
        height: 60px;
    }
    .output_icon{
        width: 60px;
        height: 60px; 
    }
    .choice_wrapper {
        gap: 15px;
    }
    .output .icon{
        width: 60px;
        height: 60px;
    }
    .score_wrapper{
        flex-direction: column;
    }
}